{% extends 'base.html.twig' %}

{% block title %}Table{% endblock %}

{% block body %}
    <h1>Table</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Nome </th>
                <td>{{ table.name }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ table.number }}</td>
            </tr>
            <tr>
                <th>People</th>
                <td>{{ table.people }}</td>
            </tr>
            <tr>
                <th>Reservation</th>
                <td>{{ table.reservation ? table.reservation|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Free</th>
                <td>{{ table.free ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th class="dishes">Piatti</th>
                    <td>
                        <table class="dishes">
                            {%set tot = 0%}
                            
                            {%for order in table.orders  %}
                                <tr>
                                    <td class="dish">{{ order.dish }} </td> <td>x {{order.amount}}</td> <td>{{order.dish.price}}€</td> <td>Tot {{order.dish.price*order.amount}}€</td>  <td><a class="btn" href="{{ path('app_order_edit', {'id': order.id}) }}">edit</a></td>
                                    {% set tot = tot + (order.dish.price*order.amount) %}
                                </tr>
                            {% endfor %}
                            
                            
                        </table>
                        TOT: {{ tot }}€
                    </td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_table_index') }}">back to list</a>

    <a class="btn" href="{{ path('app_table_edit', {'id': table.id}) }}">edit</a>

    <a class="btn" href="{{ path('app_order_new', {'id': table.id}) }}">new order</a>

    {{ include('table/_delete_form.html.twig') }}
{% endblock %}
